@font-face {
  font-family: Inter;
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/inter-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: Inter;
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/inter-700.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: Inter;
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/inter-900.woff2") format("woff2");
  font-display: swap;
}

:root {
  --pink-color:#FEAFC3;
  --main-color: #2D3440;
  --main01-color:rgba(45, 52, 64, 0.1);
  --secondary-color: #565C66;
  --light-color: #FCFCFC;
  --light05-color:rgba(252, 252, 252, 0.5);
  --light04-color:rgba(252, 252, 252, 0.4);
  --light03-color:rgba(252, 252, 252, 0.3);
  --light02-color:rgba(252, 252, 252, 0.2);
  --disabled-color:#E7E7E7;
  --button-color:#FF2F64;
  --second-color:#FF7799;
  --neutral-color:#B9B9B9;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: Inter, Arial, sans-serif;
  font-size: 16px;
  line-height: 22px;
  background-color: var(--pink-color);
  color: var(--main-color);
}

button {}

.page-header {
  display: flex;
  Width: 1170px;
  margin: 0 auto;
}

.logo {
  padding: 0;
  width: 137px;
  margin: 24px 16px 24px 0px;
}

.header-navigation {}

.header-navigation-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 400px;
  padding: 0;
  margin: 34px 158px 55px 0px;
  list-style-type: none;
}

.header-navigation-item {}

.header-navigation-link {
  display: block;
  padding: 8px 16px;
  border-radius: 26px;
  line-height: 20px;
  color: var(--main-color);
  text-align: center;
  text-decoration: none;
}

.header-navigation-link:hover {
  background-color: var(--light05-color);
}

.header-navigation-link:focus {
  background-color: var(--light05-color);
  outline: 2px solid var(--main-color);
}

.header-navigation-link:active {
  background-color: var(--light-color);
}

.header-phone {
  margin: 42px 18px 63px 0px;
  padding: 0px;
  width: 148px;
  line-height: 20px;
  color: var(--main-color);
  font-weight: 700;
  text-align: center;
  text-decoration: none;
}

.header-search {}

.header-link {
  display: block;
  position: relative;
  background-color: var(--light03-color);
}

.header-link:hover {
  background-color: var(--light05-color);
}

.header-link:focus {
  box-sizing: border-box;
  background-color: var(--light05-color);
  outline: 2px solid var(--main-color);
}

.header-link:active {
  background-color: var(--light-color);
}

.header-link-search {
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

.header-link-card {
  color: var(--main-color);
  padding: 6px 16px 6px 40px;
  margin-bottom: 57px;
  border-radius: 26px;
  text-decoration: none;
}

.header-search-icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

.header-entry-cart {}

.header-entry-icon {
  position: absolute;
  top: 9px;
  right: 0;
  bottom: 0;
  left: 18px;
}

.header-cart-icon {
  position: absolute;
  top: 9px;
  right: 0;
  bottom: 0;
  left: 17px;
}

.header-navigation-item-icon {
  line-height: 20px;
  font-size: 14px;
  color: var(--main-color);
  text-decoration: none;
}

.header-navigation-user {
  display: flex;
  justify-content: space-between;
  margin-top: 36px;
  padding: 0;
  width: 253px;
  margin-left: auto;
  list-style-type: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main-index {}

.main-conteiner {
  flex-grow: 1;
  margin: 0 auto;
}

.main-conteiner {
  width: 1170px;
}


.first-screen {}

.cream {
  display: flex;
}

.navigation-social {
  display: flex;
  align-items: flex-end;
  height: 24px;
  margin-bottom: 80px;
}

.first-screen-offer {
  margin: 136px 2px 0px 70px;
}

.first-screen-title {
  width: 470px;
  font-weight: 900;
  font-size: 36px;
  line-height: 46px;
}

.first-screen-description {
  width: 414px;
  margin-bottom: 48px;
  font-size: 18px;
  line-height: 24px;
}

.button-order {
  padding: 8px 28px;
  font-weight: 700;
  line-height: 20px;
  color: var(--main-color);
  text-decoration: none;
  text-align: center;
  background-color: var(--light-color);
  border: 4px solid var(--light04-color);
  box-shadow: 0px 4px 12px var(--main01-color);
  border-radius: 26px;
}

.button-order:hover {
  background-color: var(--light04-color);
  border: 4px solid var(--light-color);
}

.button-order:focus {
  background-color: var(--light-color);
  outline: 2px solid var(--main-color);
}

.button-order:active {
  background-color: var(--light-color);
  outline: 2px solid var(--main-color);
  background-image: url(../img/icon-spinner.svg);
  background-repeat: no-repeat;
}

.button-order:disabled {
  background: var(--disabled-color);
  border: 4px solid var(--light04-color);
}

.button-order-gift {
  margin: 32px 0px 40px 40px;
}


.first-screen-img {
  position: relative;
  width: 348px;
  height: 554px;
}

.substrate-basic {
  position: absolute;
  width: 312px;
  height: 312px;
  left: 21px;
  top: 121px;
  background-color: #FFCBD8;
  border-radius: 50%;
}

.ice-cream1 {
  position: absolute;
  margin: 21px 21px 0 21px;
}

.slider-button {
  width: 38px;
  height: 38px;
  padding: 11px;
  background: var(--light03-color);
  border: 2px solid var(--light-color);
  box-sizing: border-box;
  border-radius: 26px;
  cursor: pointer;
}

.slider-button:hover {
  background-color: var(--light-color);
}

.slider-button:focus {
  border: transparent;
  outline: 2px solid var(--main-color);
}

.slider-button:active {
  background: var(--light03-color);
  outline: 2px solid var(--light-color);
}

.slider-previous {
  position: absolute;
  top: 258px;
  left: 2px;
}

.icon-previous {
  position: absolute;
  top: 11px;
  right: 0;
  bottom: 0;
  left: 13px;
  fill: var(--light-color);
}

.slider-button:hover .icon-previous {
  fill: var(--main-color);
}

.slider-button:active .icon-previous {
  fill: var(--light-color);
}

.slider-next {
  position: absolute;
  top: 258px;
  right: 0;
  bottom: 0;
  left: 314px;
}

.icon-next {
  position: absolute;
  top: 11px;
  right: 0;
  bottom: 0;
  left: 15px;
  transform: rotate(180deg);
  fill: var(--light-color);
}

.slider-button:hover .icon-next {
  fill: var(--main-color);
}

.slider-button:active .icon-next {
  fill: var(--light-color);
}

.first-screen-minor {
  position: relative;
  margin-left: 41px;
  margin-top: auto;
  margin-bottom: auto;
  width: 100px;
  height: 150px;
}

.ice-cream-hidden {
  position: absolute;
  left: 17px;
}

.substrate-secondary {
  position: absolute;
  width: 100px;
  height: 100px;
  top: 25px;
  background-color: rgba(255, 203, 216, 0.4);
  border-radius: 50%;
}

.slider-pagination {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 60px;
  height: 12px;
  padding: 0;
  margin: 0;
  margin-right: auto;
  list-style-type: none;
}

.slider-pagination-item {
  margin-right: 8px;
}

.slider-pagination-button {
  display: block;
  width: 12px;
  height: 12px;
  margin: 0;
  padding: 0;
  background-color: var(--light03-color);
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

.slider-pagination-button-current {
  background-color: var(--light-color);
}

.slider-pagination-button:hover {
  background-color: var(--light03-color);
  outline: 1px solid var(--light-color);
}

.slider-pagination-button:focus {
  outline: 1px solid var(--main-color);
}

.social-list {
  display: flex;
  justify-content: space-between;
  width: 104px;
  height: 28px;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.social-item {
  border: 2px solid var(--light02-color);
  border-radius: 50%;
}

.social-item:hover {
  background-color: var(--main-color);
  border: 2px solid var(--light02-color);
}

.social-item:active {
  background-color: var(--main-color);
}

.social-icon {}

.second-screen {}

.second-screen-title {
  margin: auto;
  font-weight: 900;
  font-size: 32px;
  width: 443px;
  line-height: 46px;
  text-align: center;
}

.second-screen-list {
  margin: 0px;
  padding: 0px;
  margin-top: 56px;
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}

.second-screen-item1 {
  width: 570px;
  height: 268px;
  border-radius: 16px;
  background-image: url("../img/raspberries.png");
  background-position: bottom 0px left 374px;
  background-repeat: no-repeat;
  background-color: var(--second-color);
}

.second-screen-item2 {
  width: 570px;
  height: 268px;
  background-image: url("../img/marshmallows.png");
  background-position: bottom 0px left 331px;
  background-repeat: no-repeat;
  background-color: var(--second-color);
  border-radius: 16px;
}

.raspberry-gift {
  width: 199px;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  margin: 40px 0px 16px 40px;
}

.raspberry-gift-description {
  width: 321px;
  margin: 16px 0px 32px 40px;
  ;
}

.marshmallows-gift {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  margin: 40px 0px 16px 40px;
}

.marshmallows-gift-description {
  width: 294px;
  margin: 16px 0px 32px 40px;
}

.popular {}

.popular-title {
  margin: auto;
  width: 527px;
  margin-top: 80px;
  margin-bottom: 107px;
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
  text-align: center;
}

.product-list {
  margin: 0px;
  padding: 0px;
  display: grid;
  gap: 91px 30px;
  grid-template-columns: repeat(4, 270px);
}

.product-card {
  background: var(--light-color);
  border-radius: 8px;
  width: 270px;
  height: 281px;
  list-style-type: none;
}

.product-card-link {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--main-color);
  text-decoration: none;
}

.product-card-image {
  margin-top: -51px;
  margin-bottom: 16px;
  background-position: 50% 50%;
  border-radius: 50%;
}

.product-card-title {
  margin: 0;
  margin-bottom: 8px;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
}

.product-card-description {
  margin: 0;
  margin-bottom: 16px;
  width: 190px;
  text-align: center;
  color: var(--secondary-color);
}

.add-to-basket {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 40px;
  margin-right: 40px;
}

.product-card-price {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.product-card-button {
  position: relative;
  padding: 16px 16px;
  border-radius: 50%;
  background-color: var(--button-color);
  border: none;
}

.product-card-button:hover {
  background-color: var(--light03-color);
  outline: 2px solid var(--button-color);
}

.product-card-button:focus {
  outline: 2px solid var(--main-color);
}

.product-card-button:disabled {
  background-color: var(--neutral-color);
}


.icon-to-basket {
  position: absolute;
  top: 9px;
  left: 8px;
  fill: var(--light-color);
}

.product-card-button:hover .icon-to-basket {
  fill: var(--main-color);
}

.product-card-button:disabled .icon-to-basket {
  fill: var(--main-color);
}

.advantages {
  margin-top: 80px;
  width: 1170px;
  height: 479px;
  background-image: url("../img/waffle-background.jpg");
  border-radius: 16px;
  background-repeat: no-repeat;
  padding-top: 1px;
}

.advantages-bac {
  background: var(--light-color);
  width: 1122px;
  height: 432px;
  margin: 23px 24px 24px 24px;
  border-radius: 16px;

}

.advantages-title {
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
  padding: 56px 64px;
  text-align: center;
  margin: 0px;
}

.advantages-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-left: 40px;
  padding-right: 40px;
  gap: 40px 30px;
  margin: 0px;
}

.advantages-item {
  display: flex;
  margin: 0px;
}

.advantages-icon {
  position: relative;
  width: 44px;
  height: 44px;
  border: 2px solid var(--main-color);
  border-radius: 50%;
}

.icon {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

.advantages-description {
  color: var(--secondary-color);
  width: 442px;
  margin: 0px;
  margin-left: 16px;
}

.interesting {
  display: flex;
  justify-content: space-between;
  margin-top: 80px;
}

.blog {
  width: 570px;
  height: 216px;
  background-image: url("../img/background-blog.jpg");
  border-radius: 16px;
  background-repeat: no-repeat;


}

.button-blog {
  text-decoration: none;
}

.blog-subtitle {
  width: 170px;
  height: 20px;
  line-height: 20px;
  color: var(--secondary-color);
  margin: 32px 0px 16px 32px;
}

.blog-title {
  width: 303px;
  height: 90px;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: var(--main-color);
  margin: 0px 0px 62px 32px;
}

.newsletter {
  display: flex;
  background-image: url(../img/mail-background.jpg);
  background-repeat: no-repeat;
  border-radius: 16px;
  width: 570px;
  height: 220px;
}

.newsletter-white-backing {
  width: 558px;
  height: 208px;
  margin: 6px;
  background-color: var(--light-color);
  border-radius: 16px;

}

.newsletter-description {
  color: var(--secondary-color);
  margin: 26px 26px 42px 26px;
}

.newsletter-form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 26px;
}

.newsletter-email {
  margin: 0;
}

.form-fields {
  font: inherit;
  font-weight: 400;
  line-height: 20px;
  padding-left: 16px;
  padding-right: 16px;
  border: 1px solid var(--neutral-color);
  border-radius: 4px;
  background-color: #FFFFFF;
}

.form-fields::placeholder {
  color: var(--neutral-color);
}

.form-fields:hover {
  border: 1px solid var(--main-color);
}

.form-fields:hover::placeholder {
  color: var(--main-color);
}

.form-fields:focus {
  outline: 2px solid var(--main-color);
}

.form-fields:focus::placeholder {
  color: var(--main-color);
}

.form-fields:disabled {
  background-color: var(--disabled-color);
}

.field {
  margin: 0;
  width: 304px;
  height: 44px;
}

.additional-button {
  padding: 8px 28px;
  font: inherit;
  font-weight: 700;
  line-height: 20px;
  text-align: center;
  color: var(--light-color);
  background-color: var(--button-color);
  border: 4px solid rgba(255, 47, 100, 0.3);
  box-shadow: 0px 4px 12px var(--main01-color);
  border-radius: 26px;
  cursor: pointer;
}

.additional-button:hover {
  color: var(--main-color);
  background-color: var(--light-color);
  border: 4px solid var(--button-color);
}

.additional-button:focus {
  padding: 10px 30px;
  border: 2px solid var(--main-color);
}

.additional-button:active{
  background-image: url(../img/icon-spinner.svg);
  background-repeat: no-repeat;
}

.additional-button:disabled {
  background-color: var(--neutral-color);
  border: 4px solid rgba(185, 185, 185, 0,3);
}

.delivery {
  display: flex;
  margin-top: 80px;
  width: 1170px;
  height: 492px;
  background-image: url(../img/background-delivery.jpg);
  border-radius: 16px;
  background-repeat: no-repeat;
}

.delivery-text {
  margin-top: 167px;
  margin-left: 100px;
}

.delivery-title {
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
  width: 356px;
  height: 92px;
  margin: 0px;
  margin-bottom: 16px;
  margin-right: 150px;
}

.delivery-description {
  width: 371px;
  height: 88px;
  color: var(--secondary-color);
}

.appointment-information {
  width: 380px;
  height: 44px;
  margin: 40px 80px 32px 40px;
  color: var(--secondary-color);
}

.appointment-form {
  display: grid;
  grid-template-columns: 117px 287px;
  gap: 24px 16px;
  margin-left: 40px;
}

.appointment-form-date {
  font-weight: 700;
}

.field-group {
  display: flex;
  flex-direction: column;
  margin: 0;
  margin-top: auto;
}

.form-delivery {
  background-color: var(--light-color);
  width: 500px;
  height: 406px;
  margin: auto;
  margin-left: 0px;
  border-radius: 8px;
}

.form-label {
  font-weight: 700;
}



.form-label-icon {}

.input-field{
  position: relative;
  margin-bottom: 8px;
}

.info {
  width: 14px;
  height: 14px;
  background-image: url(../img/icon-info.svg);
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  position: absolute;
  margin-top: 4px;
  margin-left: 5px;
}

.form-date{
  margin: 0;
  width: 84px;
  height: 44px;
}

.form-phone{
  margin: 0;
  width: 254px;
  height: 44px;
}

.form-address{
  margin: 0;
  width: 390px;
  height: 44px;
}

.appointment-form-phone {
  font-weight: 700;
}

.appointment-form-address {
  font-weight: 700;
  grid-column: 1/-1;
}

.button-send {
  grid-column: 1 / -1;
  margin: auto;
}

.feedback {
  margin-top: 80px;
  margin-bottom: 48px;
  width: 1170px;
  height: 492px;
  display: flex;
  background-image: url("../img/background-feedback.jpg");
  border-radius: 16px;
  background-repeat: no-repeat;
}

.feedback-form {
  margin: 64px;
  background-color: var(--light-color);
  width: 303px;
  height: 324px;
  border-radius: 8px;
  padding: 40px 0px 0px 40px;
}

.address {
  width: 179px;
  height: 44px;
  margin: 0px;
  margin-bottom: 12px;
}

.street {
  width: 263px;
  height: 48px;
  margin: 0px;
  margin-bottom: 24px;
}

.for-order {
  width: 203px;
  height: 22px;
  margin: 0px;
  margin-bottom: 12px;
}

.phone {
  width: 225px;
  height: 24px;
  margin: 0px;
}

.time {
  width: 160px;
  height: 20px;
  margin: 0px;
  margin-bottom: 32px;
  font-size: 14px;
}

.feedback-subtitle {
  color: var(--secondary-color);
}

.feedback-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-decoration: none;
  color: var(--main-color);
}


.page-footer {
  display: flex;
  justify-content: space-between;
  Width: 1170px;
  height: 153px;
  margin: 0 auto;
}

.footer-navigation {}

.footer-ul {
  display: grid;
  gap: 8px 24px;
  grid-template-columns: auto auto;
  width: 356px;
  list-style-type: none;
  margin: 0;
}

.footer-link {}

.footer-icon {}

.footer-navigation-suppliers {
  font-weight: bold;
  font-size: 14px;
  line-height: 20px;
  text-decoration: none;
  color: var(--main-color);
}

.footer-navigation-suppliers::before{
  content: url(../img/icon-heart.svg);
}

.footer-navigation-link {
  font-size: 14px;
  line-height: 20px;
  text-decoration: none;
  color: var(--main-color);
}

.developer {
  margin: 0;
}

.about-text {
  width: 193px;
  font-size: 12px;
  line-height: 16px;
}

.htmlacademy-link {
  color: var(--main-color);
}

.main-catalog {}

.inner-header {}

.inner-header-title {
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
}

.breadcrumbs {
  display: flex;
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}

.breadcrumbs-item {
  margin-right: 24px;
}

.breadcrumbs-link {
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  color: var(--main-color);
}

.catalog-filter {
  display: flex;
  flex-wrap: wrap;
  width: 807px;
  height: 144px;
  margin-bottom: 91px;
}

.catalog-filter-main{
  border: none;
  background-color: var(--light03-color);
  border-radius: 20px;
  padding: 8px 16px;
}

.range-scale-filter{
  padding: 17px 16px;
}

.sorting-filter {
  border:none;
  display: flex;
  flex-direction: column;
  padding: 0;
}

.top-filters {}

.sorting-price {
  display: flex;
  flex-direction: column;
  border: none;
}

.filter-price{
  display: flex;
}

.fatness {
  margin: 0;
  padding: 0;
  border: none;
}

.catalog-text {
  font-size: 14px;
  line-height: 20px;
  margin-left: 16px;
  margin-bottom: 8px;
}

.select-control {
  font-size: 14px;
  line-height: 20px;
  padding-right: 63px;
  background-image: url(../img/icon-arrow-down.svg);
  background-repeat: no-repeat;
  background-position: right 15px center;
  appearance: none;
}

.catalog-filter-title {
  margin-bottom: 8px;
  font-size: 14px;
  line-height: 20px;
}

.range-scale{
  position: relative;
  width:  164px;
  height: 2px;
  background-color: rgba(86, 92, 102, 0.3);
  border-radius: 2px;
}

.range-bar{
  position: absolute;
  height: 2px;
  background-color: var(--secondary-color);
  border-radius: 2px;
}

.range-bar-mini{
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: var(--light-color);
}

.range-toggle {
  position: absolute;
  width: 16px;
  height: 16px;
  border: none;
  background-color: var(--main-color);
  border-radius: 50%;
  cursor: pointer;
}

.toggle-min {
  top:-7px;
  left: -8px;
}

.toggle-max {
  top: -7px;
  right: -8px;
}

.catalog-filter-label {
  height: 20px;
  color: var(--main-color);
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  appearance: none;
}

.catalog-filter-input {
  width: 30px;
  padding: 0;
  background-color: transparent;
  border: none;
  appearance: none;
}

.catalog-filter-input::-webkit-outer-spin-button,
.catalog-filter-input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.catalog-filter-list {
  display: flex;
  margin: 0;
  list-style-type: none;
  font-size: 14px;
  line-height: 20px;
}

.catalog-filter-item {}



.catalog-filter-item .control {
  position: relative;
  display: block;
  padding-left: 40px;
}

.catalog-filter-item:first-child .control{
  padding-left: 24px;
}

.control-input {}

.control-mark {
  position: absolute;
  top: 2px;
  left: 16px;
  width: 14px;
  height: 14px;
  border: 1px solid var(--main-color);
}

.catalog-filter-item:first-child .control-mark{
  left: 0;
}

.control-input[type="radio"] + .control-mark {
  border-radius: 50%;
}

.control-input[type="radio"]:checked + .control-mark::before {
  position: absolute;
  top: 4px;
  left: 4px;
  width: 6px;
  height: 6px;
  background-color: var(--main-color);
  border-radius: 50%;
  content: "";
}

.control-label {}

.button-sorting {
  width: 187px;
  height: 36px;
  margin-top: 28px;
  background: var(--light03-color);
  border: 2px solid var(--light-color);
  border-radius: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
}

.main-filter{
  margin: 0;
  padding: 0;
  margin-right: 24px;
  margin-bottom: 16px;
  border: none;
}
.main-filter:nth-child(3){
  margin-right: 0;
}

.catalog-product {
  margin-bottom: 16px;
}

.pagination {
  list-style-type: none;
  display: flex;
  margin-left: auto;
  margin-top: 51px;
}

.directory-navigation {
  display: flex;
  width: 1170px;
  min-height: 126px;
}


.pagination-item {}

.pagination-prev {}

.pagination-current {
  display: block;
  background: var(--light-color);
  width: 24px;
  height: 24px;
  border-radius: 50px;
  box-sizing: border-box;
  text-align: center;
}

.pagination-link {
  margin-right: 16px;
  line-height: 20px;
  text-decoration: none;
  color: var(--main-color);
}

.pagination-next {}

.pagination-show-more {
  width: 179px;
  height: 44px;
  padding: 0px;
  background: var(--light-color);
  border: 4px solid var(--light04-color);
  box-shadow: 0px 4px 12px var(--main01-color);
  border-radius: 26px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  margin-left: 592px;
  margin-top: 41px;
}
